name: r2dec CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

env:
  R2V: 5.1.0

jobs:
  linux:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: 3.7.x
    - name: apt dependencies
      run: sudo pip3 install meson ninja
    - name: install r2
      run: |
        wget -q https://github.com/radareorg/radare2/releases/download/${R2V}/radare2_${R2V}_amd64.deb
        wget -q https://github.com/radareorg/radare2/releases/download/${R2V}/radare2-dev_${R2V}_amd64.deb
        sudo dpkg -i *.deb
    - name: make build
      run: CFLAGS=-DR2DEC_HOME="\\\"$(r2 -H R2_LIBR_PLUGINS)\\\"" make -j -C p
    - name: meson build
      run: cd p ; meson b && ninja -C b
    - name: packaging
      run: make -C p/dist/debian
    - name: test
      run: make -C p install && r2 -qc 'af;pdd' /bin/ls
    - uses: actions/upload-artifact@v2
      with:
        name: r2dec-${R2V}_amd64.deb
        path: p/dist/debian/*.deb
  macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: 3.7.x
    - name: homebrew dependencies
      run: |
        brew update
        brew install coreutils pkg-config
        pip3 install meson ninja
    - name: install r2
      run: |
        wget -q https://github.com/radareorg/radare2/releases/download/${R2V}/radare2-${R2V}.pkg
        sudo installer -pkg *.pkg -target /
    - name: packaging
      run: make -C p/dist/macos
    - uses: actions/upload-artifact@v2
      with:
        name: r2dec-${R2V}_mac.pkg
        path: p/dist/macos/r2dec*.pkg
  w64:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: 3.7.x
    - name: Preparing msvc toolchain
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64
    - name: dependencies
      shell: bash
      run: |
        pip install ninja meson wget
        choco install winflexbison3
        choco install zip
    - name: install r2
      shell: bash
      run: |
        python -m wget https://github.com/radareorg/radare2/releases/download/${R2V}/radare2-${R2V}_w64.zip -o r2.zip
        unzip r2.zip
        mv radare2-${R2V}_w64 radare2
    - name: meson
      shell: cmd
      run: |
        set PKG_CONFIG_PATH=%CD%\radare2\lib\pkgconfig
        set CFLAGS=-I%CD%\radare2\include
        set LDFLAGS=-L%CD%\radare2\lib
        set PATH=%CD%\radare2\bin;%PATH%
        set DESTDIR=%CD%\destdir
        set ARCH=x64
        call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
        cd p
        meson b --prefix=/
        ninja -C b
        mkdir %DESTDIR%
        copy b\*.dll %DESTDIR%
        xcopy /E ..\libdec %DESTDIR%
        cd %DESTDIR%
        zip -r ..\r2dec-w64.zip *
    - uses: actions/upload-artifact@v2
      with:
        name: r2dec-${R2V}_w64.zip
        path: r2dec-w64.zip
